      html,
      body {
        height: 100vh;
        max-width: 100vw;
        margin: 0px;
        padding: 0px;
      }
      body {
        display: flex;
      }
      #tiles-container {
        display: flex;
        flex-wrap: wrap;
        background-color: #32a852;
        flex-basis: 0;
        flex-grow: 1;
        align-items: flex-start;
      }
      #tiles-container > div {
        background-color: #beb7df;
        margin: 10px;
        padding: 20px;
        flex-basis: 0;
        flex-grow: 0;
        text-align: center;
      }
      #tiles-container > div > h3,
      h2 {
        padding: 0;
        margin: 0;
      }
      #tiles-container > div > h3 {
        visibility: hidden;
      }
      #tiles-container > div.dagger > h3 {
        visibility: visible;
      }
      #tiles-container > div.voter {
        border-style: solid;
        border-width: 1px;
        border-color: black;
      }
      #tiles-container > div.voted {
        background-color: #aba9bf;
      }

      #info-container {
        background-color: #84e2b4;
        flex: 1 1 auto;
        overflow: auto;
        min-height: 100px;
        display: flex;
        flex-wrap: nowrap;
      }
      #info-container > div {
        width: 33vw;
        background-color: #b3dd9f;
        padding: 1em;
      }
      #info-container > div > div {
        width: 100%;
      }