      html,
      body {
        height: 100vh;
        max-width: 100vw;
        margin: 0px;
        padding: 0px;
      }
      body {
        display: flex;
        background-color: #CFEBDF;
        font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
      }
      #tiles-container {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 0;
        flex-grow: 1;
        align-items: flex-start;
      }
      #tiles-container > div {
        margin: 10px;
        padding: 20px;
        flex-basis: 0;
        flex-grow: 0;
        text-align: center;
        background-color: #9BC4CB;
      }
      #tiles-container > div.voter {
        background-color: #76D5E6;
      }
      #tiles-container > div.voted {
        background-color: #5C6784;
      }
      #tiles-container > div > h3,
      h2 {
        padding: 0;
        margin: 0;
      }
      #tiles-container > div > h3 {
        visibility: hidden;
      }
      #tiles-container > div.dagger > h3 {
        visibility: visible;
      }
      #info-container {
        flex: 1 1 auto;
        overflow: auto;
        min-height: 100px;
        display: flex;
        flex-wrap: nowrap;
      }
      #info-container > div {
        width: 33vw;
        padding: 1em;
      }
      #info-container > div > div {
        width: 100%;
      }
      #info-container > div > div > div {
        padding-bottom: 3px;
      }
      #submit {
        text-align: center;
        padding: 1em;
        background-color: #b3dd9f;
      }
      textarea {
        background-color: #A6D0BE;
        border-style: none;
      }
      h1 {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      #tiles-header {
        text-align: center;
      }