      html,
      body {
        height: 100vh;
        max-width: 100vw;
        margin: 0px;
        padding: 0px;
      }
      body {
        display: flex;
        background-color: #9BC4CB;
      }
      #tiles-container {
        display: flex;
        flex-wrap: wrap;
        background-color: #CFEBDF;
        flex-basis: 0;
        flex-grow: 1;
        align-items: flex-start;
      }
      #tiles-container > div {
        margin: 10px;
        padding: 20px;
        flex-basis: 0;
        flex-grow: 0;
        text-align: center;
      }
      #tiles-container > div.voter {
        background-color: #76D5E6;
      }
      #tiles-container > div.voted {
        background-color: #5C6784;
      }
      #tiles-container > div > h3,
      h2 {
        padding: 0;
        margin: 0;
      }
      #tiles-container > div > h3 {
        visibility: hidden;
      }
      #tiles-container > div.dagger > h3 {
        visibility: visible;
      }
      #info-container {
        flex: 1 1 auto;
        overflow: auto;
        min-height: 100px;
        display: flex;
        flex-wrap: nowrap;
      }
      #info-container > div {
        width: 33vw;
        padding: 1em;
      }
      #info-container > div > div {
        width: 100%;
      }
      #submit {
        text-align: center;
        padding: 1em;
        background-color: #b3dd9f;
      }